{% extends "base/base.html" %}
{% load static %}
{% block contents %}
        <h2>product list</h2>
    <div class="container">
        <div class = "row">
                {% for product in products_list %}
                    <div class="col-md-3" style ="border: #006b1b 3px solid">
                        {% include "product_component.html" with product=product %}
                   </div>
                {% endfor %}

        </div>
    </div>
{#    function base#}

    <br>
{#    class base#}
{#    {% for product in object_list %}#}
{#        <h3>{{ product.title }}</h3>#}
{#        <a href="/product-fb/{{ product.id }}">Read more...</a>#}

{#    {% endfor %}#}
{% endblock %}